$primary-color: #008753;
$secondary-color: #FFFFFF;
$tertiary-color: #212926;
$quaternary-color: #348566;
$quinary-color: #74817c;

$title-color: #4F3E3E;
$light-text-color: #FFFFFF;
$dark-text-color: #000000;
$font: "Microsoft JhengHei", "MingLiU";

$text-size: 1rem;
$title-text-size: 50px;
$title-top-offset: 2.75vh;
$title-bottom-padding: 3.5vh;

$header-height: 100px;
$section-height: 900px;
$footer-height: 150px;
// $subtitle-text-size: 50px;
