$primary-color: #008753;
// $primary-color: #008753c7;
$secondary-color: #FFFFFF;
$tertiary-color: #212926;
$quaternary-color: #348566;
$quinary-color: #74817c;

$possible-grey-color: #ebeeed;

$title-color: #4F3E3E;
$light-text-color: #FFFFFF;
$dark-text-color: #000000;
$font: "Microsoft JhengHei", "MingLiU";
$vs-code-font: Consolas, monaco, monospace;

$phone-text-size: 1rem;
$text-size: 1.25rem;
$medium-text-size: 1.2rem;
$large-text-size: 2.5rem;
// $small-screen-title-text-size: 2.

$title-top-offset: 2rem;


$header-height: 100px;
$section-height: 900px;
$large-section-height: ($section-height / 3) * 4;
$small-section-height: ($section-height / 3) * 2 + 50px;
$footer-height: 100px;
// $subtitle-text-size: 50px;

$phone-screen-width: 415px;
$tablet-screen-width: 768px;
$small-screen-width: 1024px;

