$primary-color: #008753;
$secondary-color: #FFFFFF;
$tertiary-color: #212926;
$quaternary-color: #348566;
$quinary-color: #74817c;

$title-color: #4F3E3E;
$light-text-color: #FFFFFF;
$dark-text-color: #000000;
$font: "Microsoft JhengHei", "MingLiU";

$text-size: 30px;
$title-text-size: 50px;
$title-top-padding: 100px;
$title-bottom-padding: 2.5vh;

// $subtitle-text-size: 50px;
